body{
    background: url(background-night.jpg) no-repeat center/cover;
    color: rgba(255,255,255, 0.8);
    font-family: 'Trebuchet MS','Lucida Sans', Arial, sans-serif;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box{
    background: rgba( 0, 0, 0, 0.4);
    backdrop-filter:contrast(1.5) blur(8px) saturate(1.3);
    width: 35%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid rgba( 0, 0, 0, 0.5);
}
@media(max-width:500px){
    .box{
        width: 45%;
    }
}
@media(max-width:1000px){
    .box{
        width: 50%;
    }
}
@media(max-width:800px){
    .box{
        width: 60%;
    }
}@media(max-width:600px){
    .box{
        width: 70%;
    }
}@media(max-width:400px){
    .box{
        width: 80%;
    }
}
.upperBox{
    height: 30%;
    padding-left: 5%;
}
.upperBox h2{
    height: 30%;
}
.location{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -35%;
    flex-direction: column;
}
.upperBox input{
    border-radius: 5px;
}
.middleBox{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.emoji{
    font-size: 8em;
    height: 65%;
    width: 100%;
    text-align: center;
    
}
.displayTime{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Timer{
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background:transparent;
    color: rgba(255,255,255, 0.8);
    width: 50%;
    height: 100%;
}
.lowerBox{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lowerBox input{
    font-size: 1.4em;
    letter-spacing: 1.5px;
    font-weight: 600;
    background-color:  rgba(255,255,255, 0.2);
    color: rgba(255,255,255, 0.9);
    cursor: pointer;
    border-radius: 8px;
}
.lowerBox input:hover{
    transition: 0.5s;
    color: rgba(0, 0, 0, 0.4);
}
.hyperlink{
    height: 10%;
    position: relative;
    top: 15%;
}
.hyperlink a{
    color: aliceblue;
    text-decoration: none;
}
.hyperlink a:hover{
    color: darkblue;
    transition: 0.7s;
    cursor: pointer;
}

